h1{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}
.inicio{
  display: inline-block;
  padding: 10px 20px;
  background-color: #dbe5a2;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}


.inicio:hover{
  background-color: #c24329;
}
body{
    background-color: black;
}
#logotipo{
    display: flex;
    justify-content: center;
}
#banner{
     height: 90%;
    width: 100%;
    background-color: plum;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 50px;
    margin-right: 95px;
}
#banner p{
     margin-left: 5%;
    justify-content: center;
    margin-right: 5%;
}
